/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 너비 */
.width-45vw {width: 45vw;}
.width-90vw {width: 90vw;}
.width-100vw {width: 100vw;}
.width-200px {width: 200px;}

/* 높이 */
.height-20vh {height: 20vh;}
.height-30vh {height: 30vh;}
.height-70vh {height: 70vh;}
.height-100vh {height: 100vh;}
.height-200px {height: 200px;}
.height-350vh {height: 350vh;}

/* 여백 */
.top-5vw {top:5vw;}
.bottom-5vw {bottom:5vw;}
.left-5vw {left: 5vw;}
.right-5vw {right: 5vw;}
.margin-top-5px {margin-top: 5px;}
.margin-top-5vh {margin-top: 5vh;}
.margin-top-30vh {margin-top: 30vh;}


/* 위치 */
.display-flex {display: flex;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-fixed {position: fixed;}
.flex-column { flex-direction: column;}
.justify-center { justify-content: center;}
.justify-spaceEvenly {justify-content: space-evenly;}
.justify-flexStart {justify-content: flex-start;}
.align-center { align-items: center;}

/* z-index */
.z-index-1000 {z-index: 1000;}

/* 배경색 */
.bgc-white {background-color: white;}
.bgc-D9D9D9 {background-color: #D9D9D9;}
.bgc-222 {background-color: #222;}
.bgc-001F3F {background-color: rgba(0, 31, 63, 0.02);}

/* 폰트 */
.font-Coop {font-family: "Coop";}
.font-100px {font-size: 100px;}

.line-height-75 {line-height: 0.75;} /* 줄 높이 */
.fontColor-black {color: #000;}
.text-shadow {text-shadow: -1px -1px 0 #FFA500, 0px -1px 0 #FFA500, 1px -1px 0 #FFA500,
  -1px 0px 0 #FFA500, 0px 0px 0 #FFA500, 1px 0px 0 #FFA500, -1px 1px 0 #FFA500,
  0px 1px 0 #FFA500, 1px 1px 0 #FFA500, -1px -1px 6px #121212,
  0px -1px 6px #121212, 1px -1px 6px #121212, -1px 0px 6px #121212,
  0px 0px 6px #121212, 1px 0px 6px #121212, -1px 1px 6px #121212,
  0px 1px 6px #121212, 1px 1px 6px #121212;
}

/* overflow */
.overflow-hidden {overflow: hidden;}
.overflow-y-auto {overflow-y: auto;}

/* 애니메이션 */
.animation-fadeIn {animation: fadeIn 1s ease-in-out;}
.animation-bounce {  animation: bounce 1s ease-in-out infinite;
}

/* 선 */
.border-side {  
  border-right: 5px solid;
  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #FF4500, #FFD700) 1;
}
.border-square {
  border: 3px solid #1E3C68;
}

/* keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px) translateX(-10px) translateZ(0);
  }
  50% {
    transform: translateY(-10px) translateX(10px) translateZ(0);
  }
  100% {
    transform: translateY(0px) translateX(-10px) translateZ(0);
  }
}
