@import url(class-set.css);
@import url(keyframes.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

/* new-profile 스타일 지정*/
.new-profile {
  background-color: black;
  width: 85vw;
  height: 65vh;
  display: flex;
  color: white;
}

#header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  font-size: 50px;
  line-height: 0.75;
  margin-top: 5px;
  color: #000;
  text-shadow: -1px -1px 0 #FFA500, 0px -1px 0 #FFA500, 1px -1px 0 #FFA500,
    -1px 0px 0 #FFA500, 0px 0px 0 #FFA500, 1px 0px 0 #FFA500, -1px 1px 0 #FFA500,
    0px 1px 0 #FFA500, 1px 1px 0 #FFA500, -1px -1px 6px #121212,
    0px -1px 6px #121212, 1px -1px 6px #121212, -1px 0px 6px #121212,
    0px 0px 6px #121212, 1px 0px 6px #121212, -1px 1px 6px #121212,
    0px 1px 6px #121212, 1px 1px 6px #121212;
  background-image: linear-gradient(45deg, #FF4500, #FFD700);
  -webkit-background-clip: text;
  background-clip: text;
  animation: bounce 1s ease-in-out infinite;
  animation-delay: -0.05s;
  will-change: transform;
}

/* 링크 클릭전 하얀색 링크 클릭 후 하얀색 */
a { color: white }
a:visited { color:white; }

/* 행 간격 설정 */
.lineHeight {
  line-height: 5vh;
}

.pSize {
  text-align: left;
  font-size: 1.3rem;
}

