/* public/stylesheets/bgcolor.css */

/* 배경색 */
.bgc-white {background-color: white;}
.bgc-D9D9D9 {background-color: #d9d9d9;}
.bgc-black {background-color: black;}
.bgc-282828 {background-color: #282828;}

