/* public/stylesheets/style.css */

/* 스타일 통합관리 */
/* @import url("./width-height.css");
@import url("./position.css");
@import url("./text-font.css");
@import url("./margin-padding.css");
@import url("./border.css");
@import url("./bgcolor.css");
@import url("./layout.css");
@import url("./cursor.css");
@import url("./line.css");
@import url("./link.css");
@import url("./keyframes.css");
@import url("./id-element.css");
@import url("./class-element.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







